body {
margin: auto;
font-family: Tahoma;
text-align: center;
background-color: #ffffff;
font-size: 1rem;
line-height: 1.4;
max-width: 90rem;
}

.main_content{
border: 1px solid #000000;
margin: 0.2rem;
}

.user{
font-size: 3rem;
}	

.name_container{
padding: 0.2rem;
background-color: #0080ff;
}
	
.occupation{
font-size: 2rem;
}

.text_body{
margin: 1rem;
line-height: 1.5rem;
}

.sidebar{
text-align: left;
background-color: #0080ff;
border-right: 1px solid #000000;
}

#profile{
display: grid;
grid-template-columns: 40% 60%;
}


footer{
padding: 1rem;
border-top: 1px solid #000000;
}



.section_title{
background-color: #03dbfc;
border-top: 1px solid #000000;
border-bottom: 1px solid #000000;
}

li{
line-height: 2;
}

#description{
border-top: 1px solid #000000;
}

ul{
margin-right: 5rem;
}	

@media screen and (max-width: 30rem) {
#profile{
display: block;
}
.sidebar{
border-right: none;
background-color: #ffffff;
}
.section_title{
background-color: #ffffff;
}
}